<%=
  render "components/_paragraph_with_title.html", title: "Hi!", content: "RESET YOUR PASS MAN
    <br>
    YO YO RESET YOUR PASS!!!!
    <br>
    Looking forward to having you onboard!"
%>
<%= render "components/_button.html", text: "DO IT!!", href: @invite_url %>
