use Mix.Config

config :api, :s3, bucket_name: "YOUR_BUCKET_NAME"

# If you are running minio (https://min.io) locally, you can use these
# settings to configure it.
#
# config :ex_aws, :s3,
#   local: true,
#   region: "",
#   host: "localhost",
#   scheme: "http://",
#   port: 9000,
#   access_key_id: "YOUR_MINIO_ACCESS_KEY",
#   secret_access_key: "YOUR_MINIO_SECRET_KEY"
